*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #000;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    
}

.box-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid #fff; */
    padding: 10px;
    border-radius: 10px;
    position: relative;
    min-width: 450px;
    /* min-height: 200px; */
}

.box-container input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 10px 0;
    outline: none;
    color: #fff;
    transition: all 0.3s ease;
    font-size: 20px;
}



.box-container input:focus{
    padding-bottom: 10px;
}

.box-container input:focus + label{
    transform: translateY(-20px);
    font-size: 12px;
    color: #fff;
}

.box-container input:not(:placeholder-shown) + label{
    transform: translateY(-20px);
    font-size: 12px;
    color: #fff;
}

.box-container label{
    position: absolute;
    /* padding: 10px; */
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 20px;
    /* letter-spacing: 2px; */
    margin-left: 10px;
}

.box-container .search-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    
    padding: 5px;
    transition: all 0.3s ease;
}

.box-container .search-icon:hover{
    background-color: #fff;
    color: #000;
}

/* Display card Style */

.card{
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    width: min(100%, 450px);
    height: min(100%, 200px);
    line-height: 2.0;
    display: none;
    transition: all 0.3s ease;
    /* overflow: hidden; */
   
    text-wrap: wrap;
}